#Contact {
    margin-left: 34%;
    padding: .5%
}

#liens {
    position: absolute
}

#imageMusee > img {
    max-width: 24%
}

#Oeuvres img {
    max-width: 100%
}

#Oeuvres #image_1:hover, #Oeuvres #image_1, #Oeuvres #image_2:hover, #Oeuvres #image_2, #Oeuvres #image_0 {
    transition: 2s
}

#Oeuvres #image_0 {
    width: 50%;
    margin: 25% 0% 50% 31%
}

#Oeuvres #image_0:hover {
    width: 70%;
    margin-left: 143%;
    margin-top: -30.3%;
    transition: 3s
}

#Oeuvres #image_1 {
    max-width: 45%;
    margin-bottom: 35%;
    margin-top: 10%
}

#Oeuvres #image_1:hover  {
    width: 53%;
    margin: -21.6% 55% 49% 50%
}

#Oeuvres #image_2 {
    max-width: 120%;
    margin: 35% -37% 80% -27%
}

#Oeuvres #image_2:hover {
    width: 200%;
    margin: 20% -79% 0% -83%;
    max-height: 24%
}

@media (min-width: 1550px) {
    #Contact {
        margin-top: 29%;
        margin-left: 34%
    } 
    #imageMusee {
        margin-top: -14.9%;
        margin-left: -.17%
    }
    #accueil {
        padding: 0;
    }
    #liens {
        margin-top: 10%;
        margin-left: 0
    }
    article {
        height: 27em
    }
}

@media (min-width: 1400px) and (max-width: 1550px) {
    #Contact {
        margin-top: 32%;
        margin-left: 31%
    } 
    #imageMusee {
        margin-top: -14.8%;
        margin-left: -.16%
    }
    #accueil {
        padding: 0 0 0 1%
    }
    #liens {
        margin-top: 11%;
        margin-left: 0
    }
    article {
        height: 26em
    }
}

@media (min-width: 1330px) and (max-width: 1400px) {
    #Contact {
        margin-top: 35%;
        margin-left: 31%
    } 
    #imageMusee {
        margin-top: -16.55%;
        margin-left: -.25%
    }
    article {
        height: 24em
    }
    #liens {
        height: 10%;
        margin-top: 13%;
        margin-left: 0
    }
    #accueil {
        padding: 0% 0% 0% 5%;
        width: 0
    }
    #accueil li:first-child {
        margin-top: -5%
    }
}

@media (max-width: 1330px) {
    #Contact {
        margin-top: 39%;
        margin-left: 27%
    } 
    #imageMusee {
        margin-top: -18.1%;
        margin-left: -.25%
    }
    article {
        height: 24em
    }
    #liens {
        height: 21%;
        margin-top: 13%;
        margin-left: 0
    }
    #accueil {
        padding: 0% 0% 0% 5%;
        width: 0
    }
    #accueil li:first-child {
        margin-top: -5%
    }
}